:root {
  --active-color: #000000;
  --pewter: rgb(233,233,237);
  --greenbeige: #dee6d7;
  --beige: #F3EEE4;
}

body {
  margin: 0;
  font-family: "Albert Sans", sans-serif;
  background: var(--beige);
}

h1,h2,h3 {
  font-family: "Spectral", serif;
}

h1 {
  font-size: 5em;
  text-align: center;
  line-height: 1em;
}

h2 {
  text-align: center;
  font-size: 2em;
  line-height: 1em;
  font-weight: 400;
}

h3 {
  font-size: 2em;
}

audio {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 10px;
}

td {
  padding-bottom: 50px;
  padding-left: 10px;
}

#topic {
  padding: 50px;
}

.time {
  display: flex;
}

.content {
  max-width: 600px;
  pointer-events: none;
  cursor: default;
  font-family: "Spectral", serif;
}

.interview {
  display: flex;
  height: 100vh;
  overflow: scroll;
}

.interview table {
  margin: 50px;
  border-collapse: collapse;
}

.intro-section{
  padding: 50px;
  border-bottom: 2px solid black;
}

.meta-section {
  flex: 1;
  height: 100vh;
  align-self: flex-start;
    position: sticky;
    top: 0;
    border-left: 2px solid black;
}

.meta-section img {
  width: 100%;
  border-top: 2px solid black;
}

.excerpt-section {
  flex: 2;
}

.name-section{
  padding: 0 50px;
}

.name-section h3{
  font-family: "Albert Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

#interviews {
  margin-left: 40px;
}

.list-container button {
  background: none;
    font-size: 20px;
    padding: 10px 20px;
    margin-right: 15px;
    text-transform: uppercase;
    font-family: "Albert Sans", sans-serif;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.list-container button:hover {
  text-decoration: underline;
}

#menu {
    position: absolute;
    right: -45px;
    top: 0;
    height: 100%;
    background: none;
    font-size: 20px;
    right: 0;
    text-transform: uppercase;
    font-family: "Albert Sans", sans-serif;
    font-weight: bold;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    cursor: pointer;
    transition: background 1s ease;
}

#menu:hover {
  background: #bdcdb2;
}

.menu-text{
  rotate: -90deg;
}

.meta {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.topic-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.topic-list > * {
  display: inline-block;
  color: #000000;
}

.topic-list label {
  text-decoration: underline;
}

.resources-block {
  font-size: 14px;
  margin: 10px 0;
  max-width: 250px;
  background-color:var(--pewter);
  padding: 5px;
  border: 1px rgba(0,0,0,0.5) dashed;
  border-radius: 8px;
  cursor: default;
}

.resources-block:empty {
  display: none;
}

.resources-block p:first-child {
  margin-top: 0;
}

.resources-block p:last-child {
  margin-bottom: 0;
}

<<<<<<< HEAD
=======
#nav button {
  background: none;
    font-size: 20px;
    padding: 10px 20px;
    margin-right: 15px;
    text-transform: uppercase;
    font-family: "Albert Sans", sans-serif;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

>>>>>>> main
.list-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#nav {
  display: flex;
  height: 100vh;
  position: absolute;
  background: var(--greenbeige);
  width: 100%;
  transform: translateX(0%);
  transition: transform 300ms ease-in-out;
  z-index: 10;
  border-right: 2px solid black;
}

#nav.hidden-nav{
  transform: translateX(calc(-100% + 72px));
}

#nav-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.nav-left {
  flex: 1;
  border-right: 2px solid black;
  padding: 0 50px;
  align-self: flex-start;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.nav-left::-webkit-scrollbar {
  display: none
}

.nav-right {
  position: relative;
  flex: 2;
  padding: 60px;
  padding-right: 72px;
}

.nav-right h2, .nav-right h3 {
  text-align: left;
}

.nav-right h3{
  margin-bottom: 5px;
}

tr.excerpt {
  border-style: solid;
  border-width: 0 0 0 2px;
  border-color: transparent;
<<<<<<< HEAD
  border-left: 2px solid transparent;
  transition: border .3s ease;
  transition: background .3s ease;
=======
  cursor: pointer;
>>>>>>> main
}

tr.excerpt.active {
<<<<<<< HEAD
  border-left: 2px solid black;
  background: #00000008;
=======
  border-color: rgba(0,0,0,0.6);
>>>>>>> main
}

tr.excerpt td {
  padding-top: 25px;
  padding-bottom: 25px;
}

.scroll-btn {
  color: #000000;
  background-color: var(--pewter);
  border: 2px solid currentColor;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.p-sm {
  padding: 10px;
}

@media only screen and (max-width : 1024px) {
  h1 {
    font-size: 3em;
    text-align: center;
    line-height: 1em;
  }

  #nav {
    height: auto;
  }

  #nav.hidden-nav{
    transform: translateY(calc(-100% + 40px));
  }

  .nav-right {
    margin-right: 0px;
  }

  #interviews {
    margin-left: 0px;
  }

  #menu {
    height: auto;
    width: 100%;
    top: auto;
    bottom: 0;
    border-left: 0px;
    padding: 11px 0;
  }

  .menu-text {
    rotate: 0deg;
    font-size: 16px;
  }

  .meta-section {
    margin-top: 41px;
    border-left: 0px;
  }

  #nav-container {
    flex-direction: column;
    height: auto;
  }

  .nav-left {
    align-self: center;
    border-right: none;
    border-bottom: 2px solid currentColor;
    width: 100%;
  }

  .interview {
    flex-direction: column;
  }

  .excerpt-section {
    order: 2;
  }

  audio {
    position: fixed;
    display: block;
    background-color: #F3EEE4;
    bottom: 0;
  }

  .excerpt {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
  }

  tr.excerpt td {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .meta-section {
    position: relative;
    order: 1;
  }

  .intro-section {
    padding: 20px;
  }

  .interview table {
    margin: 10px;
  }


}

@media only screen and (max-width : 640px) {

}